<div class="navbar">
    <h2 class="navbar__title">
        Ngrx Task App
    </h2>

    <nav class="navbar__menu">
        <ul class="navbar__menu-list">
            <li class="navbar__menu-item">
                <a [routerLink]="['/home']" routerLinkActive="navbar__menu-link--active" class="navbar__menu-link">Home</a>
            </li>
            <li class="navbar__menu-item">
                <a [routerLink]="['/tasks']" routerLinkActive="navbar__menu-link--active" class="navbar__menu-link">Tasks</a>
            </li>
        </ul>
    </nav>
</div>
